<h1>Editing lab report</h1>

<%= render "form", lab_report: @lab_report %>

<br>

<div class="lab-report-actions">
  <div>
    <%= link_to "Show this lab report", (@lab_report), class: "btn btn-primary" %> |
    <%= link_to "Back to lab reports", lab_reports_path, class: "btn btn-secondary" %>
  </div>
</div>