<div id="<%= dom_id create_user %>">
  <p>
    <strong>Email:</strong>
    <%= create_user.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= create_user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= create_user.last_name %>
  </p>

</div>
